
html,body{
    margin:0px;
    background-color: rgb(37, 95, 37);
    color: aliceblue;
}

.titulo{
    text-align: center;
    background-color: black;
    color: aliceblue;
    padding: 20px;
    font-size: 30px;
}

.carta{
    position: relative;
    width: 150px;
    left: 100px;
    margin-left: -95px;
}

#jugador-carta,#computador-carta{
    height: 240px;
}